<!-- Bottom Nav -->
<div class="col-md-4 mb-md-0 mb-4">
  <h5 class="text-uppercase" style="color:rgb(38, 144, 201);">My Projects</h5>
  <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;background: white;">

</div>